.hex.bgr {
	background-image: url(../assert/images/img1.png);
}

.hex.bgr1 {
	background-image: url(../assert/images/img2.png);
}

.hex.bgr2 {
	background-image: url(../assert/images/img3.png);
}

.hex.bgr3 {
	background-image: url(../assert/images/img4.png);
}

.hex.bgr4 {
	background-image: url(../assert/images/img5.png);
}

.hex.bgr5 {
	background-image: url(../assert/images/img6.png);
}

.hex.bgr6 {
	background-image: url(../assert/images/img7.png);
}

.hex.bgr7 {
	background-image: url(../assert/images/img8.png);
}

.hex.bgr8 {
	background-image: url(../assert/images/img9.png);
}

.hex.bgr9 {
	background-image: url(../assert/images/img10.png);
}

.hex.bgr10 {
	background-image: url(../assert/images/img11.png);
}

.hex.bgr11 {
	background-image: url(../assert/images/img12.png);
}

.hex.bgr12 {
	background-image: url(../assert/images/img13.png);
}

.hex1.bgr13 {
	background-image: url(../assert/images/anderson.png);
}


