.hexagon-container {
    width: 860px;
    height: 720px;
    padding-top: 140px;
    margin: 0 auto;
}   

.hex {
	width:150px;
	height:86px;
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: 50% 50%;			
	-webkit-background-size: auto 173px;							
	-moz-background-size: auto 173px;							
	-ms-background-size: auto 173px;							
	-o-background-size: auto 173px;							
	position: relative;
	float:left;
	margin:25px 5px;
	text-align:center;
	zoom:1;
}
		
.hex.hex-gap {
	margin-left: 15px;
}

.hex.hex-left {
    margin-left: 100px;
}

.hex.hex-top {
    margin-top: 40px;
}

.hex .corner-1,
.hex .corner-2 {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: inherit;								
	z-index:-2;						
	overflow:hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;			
	backface-visibility: hidden;			
}

.hex .corner-1 {
	z-index:-1;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
}
	
.hex .corner-2 {
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	transform: rotate(-60deg);
}
	
.hex .corner-1:before,
.hex .corner-2:before {
	width: 173px;
	height:	173px;
	content: '';
	position: absolute;
	background: inherit;
	top:0;
	left: 0;
	z-index: 1;
	background: inherit;
	background-repeat:no-repeat;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;	
	backface-visibility: hidden;				  
}			
	
.hex .corner-1:before {
	-webkit-transform: rotate(-60deg) translate(-87px, 0px);
	-moz-transform: rotate(-60deg) translate(-87px, 0px);
	-ms-transform: rotate(-60deg) translate(-87px, 0px);
	-o-transform: rotate(-60deg) translate(-87px, 0px);
	transform: rotate(-60deg) translate(-87px, 0px);	
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}			
	
.hex .corner-2:before {
	-webkit-transform: rotate(60deg) translate(-48px, -11px);
	-moz-transform: rotate(60deg) translate(-48px, -11px);
	-ms-transform: rotate(60deg) translate(-48px, -11px);
	-o-transform: rotate(60deg) translate(-48px, -11px);
	transform: rotate(60deg) translate(-48px, -11px);	
	bottom:0;
}

.hex1 {
	width:180px;
	height:104px;
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: 50% 50%;			
	-webkit-background-size: 100 206px;							
	-moz-background-size: 100 206px;							
	-ms-background-size: 100 206px;							
	-o-background-size: 100 206px;							
	position: relative;
	float:left;
	margin:25px 5px;
	text-align:center;
	zoom:1;
}

.hex1 .corner-1-1,
.hex1 .corner-2-2 {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: inherit;								
	z-index:-2;						
	overflow:hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;			
	backface-visibility: hidden;			
}

.hex1 .corner-1-1 {
	z-index:-1;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
}
	
.hex1 .corner-2-2 {
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

	
.hex1 .corner-1-1:before,
.hex1 .corner-2-2:before {
	width: 206px;
	height:	206px;
	content: '';
	position: absolute;
	background: inherit;
	top:0;
	left: 0;
	z-index: 1;
	background: inherit;
	background-repeat:no-repeat;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;	
	backface-visibility: hidden;				  
}			
	
.hex1 .corner-1-1:before {
	-webkit-transform: rotate(-60deg) translate(-104px, 0px);
	-moz-transform: rotate(-60deg) translate(-104px, 0px);
	-ms-transform: rotate(-60deg) translate(-104px, 0px);
	-o-transform: rotate(-60deg) translate(-104px, 0px);
	transform: rotate(-60deg) translate(-104px, 0px);	
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}			
	
.hex1 .corner-2-2:before {
	-webkit-transform: rotate(60deg) translate(-53px, -13px);
	-moz-transform: rotate(60deg) translate(-53px, -13px);
	-ms-transform: rotate(60deg) translate(-53px, -13px);
	-o-transform: rotate(60deg) translate(-53px, -13px);
	transform: rotate(60deg) translate(-53px, -13px);	
	bottom:0;
}

.hex1.position {
    margin-left: -10px;
    margin-top: 117px;
}