.long {
	border:none;
	width: 94%;
	height: 1px;
}

.long-black {
	color:#222222; 
    background-color: #222222;
}

.long-blue {
	color:#e4edeb; 
    background-color: #e4e9eb;
}

.long-top {
	position: absolute;
	left: 40px;
	top: 20px;
}

.long-bottom {
	position: absolute;
	left: 40px;
	bottom: 60px;
}

.long-horiz {
	position: absolute;
	left: 40px;
	bottom: -150px;
}

.half {
	border:none;
	width: 44%;
	height: 1px;
}

.half-left {
	position: absolute;
	left: 40px;
	top: 80px;
}

.half-right {
	position: absolute;
	right: 40px;
	top: 80px;
}