.article::before {
	content: "";
	width: 1px;
	background: #2aa78d; 
	height: 88%;
	float: left;
	position: absolute;
	bottom: 20px;
	left: 19.5%;
}

.article::after {
	content: "";
	width: 2px;
	background: #2aa78d; 
	height: 88%;
	float: right;
	position: absolute;
	bottom: 20px;
	right: 19.5%;
}

.hex.hex-line-left::before {
	content: "";
	width: 2px;
	background: #e4e9eb; 
	height: 100%;
	float: left;
	position: absolute;
	top: 1px;
	left: -11.5%;
}

.hex.hex-line-right::after {
	content: "";
	width: 2px;
	background: #e4e9eb; 
	height: 100%;
	float: right;
	position: absolute;
	top: 1px;
	right: -11.7%;
}