@import url("css/base.css");
@import url("css/headers.css");
@import url("css/paragraphs.css");
@import url("css/form.css");
@import url("css/backgrounds.css");
@import url("css/hlines.css");
@import url("css/vlines.css");
@import url("css/hexagons.css");

.header {
    height: 63px;
    background: #323232;
    width: 100%;
}

.navigation {
    width: 760px;
    margin: 0 auto;
}

.navigation a:hover {
	color: #2eb398;
}

li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    margin-top: 32px;
    margin-left: 24px; 
}

li:nth-child(2) {
    margin-right: 84px; 
}

.point::after {
	content: ".";
	margin-left: 12px;
	position: absolute;
	top: 35px; 
	color: #484c5f;
}

.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 65px 0 65px;
	border-color: #323232 transparent transparent transparent;
	margin: 0 auto;
}

.pointer {
	z-index: 1000;
	position: absolute;
	top: 12px;
	left: 47.5%;
}

.article {
    width: 760px;
    height: 100%;
    margin: 0 auto;
    text-align: left;
}

.info {
    width: 100%;
    height: 341px;
    background: #2eb398;
    position: relative;
    z-index: -3;
}

.info-text {
    float: right;
    max-width: 60%;
}

.footer {
    width: 100%;
    height: 607px;
    background: #323232; 
    float: left;
	position: relative;
	
}

.clear {
    clear: both;
}

.social-icons {
    float:right;
    margin-top: 40px;
}

.placeholder-color::placeholder {
    color: #8e8e8e;
}

/*.textarea::-webkit-input-placeholder {
    color: #0bf;
}*/

.contacts {
    position: absolute;
    top: 113px;
    right: 380px;
    display: inline-block;
    max-width: 220px;
    text-align: left;
    
}

.contacts span {
    font-weight: bold;
}

.contacts li{
    display: block;
    margin-top: 0px;
    margin-left: 0px; 
    margin-bottom: 5px;
}

.contacts img {
    margin-right: 10px;
}

.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 43px;
    background: #222222;
    text-align: left;
}

.copyright p {
	color: #454545;
}




	